<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Profile of Manager</h1>
</div>

<img src="https://i.ibb.co/Fz0vDKQ/0573-B1-C5-525-A-4499-B91-D-2-D828-C63100-B-1-105-c.jpg" alt="Laptop" width="573" height="673">
<p>Photo by Nguyễn Hoàng Phúc GCD220230</p>

<div class="pt-3">
  <p>This App is developed and built on existing documents and completely rebuilt.</p>
  <p>Check out my <a href="https://studio.youtube.com/channel/UC_dVer70WoLnwGcARVRV30Q">YouTube Channel</a> and support by subscribing!</p>
</div>
